@model FilterFormViewModel
<form class="jumbotron" asp-controller="Services" asp-action="FilterServices">
    <div class="filter-section">
        <div class="form-group">
            <label for="service-name">Enter working time</label>
            <input asp-for="@Model.WorkingTime" type="text" class="form-control" id="service-name" placeholder="Example: 00:00-23:59...">
        </div>
        <div class="form-group">
            <label for="service-category">Select category</label>
            <select asp-for="@Model.CategoryName" class="form-control" id="service-category">
                <option value="@null">None</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Name">@category.Name</option>
                }
            </select>
        </div>
        <div class="form-group rating">
            <label for="exampleFormControlTextarea1">Rating:</label>
            <select asp-for="@Model.Rating" class="form-control">
                <option value="null">None</option>
                <option value="1">
                    <span>★</span>
                </option>

                <option value="2">
                    <span>★</span>
                    <span>★</span>
                </option>

                <option value="3">
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                </option>

                <option value="4">
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                </option>

                <option value="5">
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                </option>
            </select>
        </div>
        <div class="form-group d-flex justify-content-center" style="align-items: flex-end;">
            <button class="btn btn-primary">Search</button>
        </div>
    </div>
</form>